div#content
{
position: realtive; left : 330px;
width : 700px;
height : 65px;
overflow-y : visible;
}

div#content p
{
margin : 0px;
padding : 0px;
padding-left : 15px;
}

h5#termHead
{
position : relative; left : 330px; top : 60px;
}


ul#words
{
position : relative; left : 330px; top : 40px;
width : 300px; height : 300px;
background : #eee;
border : 2px solid #000;
overflow-y : scroll;
padding-left : 5px;
}

ul#words li
{
list-style-type : none;
text-decoration : none;
}

ul#words li a
{
color : #000;
text-decoration : none;
}



h5#defHead
{
position : absolute; left : 730px; bottom : 80px;
}

p#definition
{
position : absolute; left : 730px; top : 485px;
width : 300px;
height : 200px;
background : #eee;
border : 2px solid #000;
padding : 5px;
overflow-y : scroll;
}
