ul#marineMore
{
}

ul#marineMore li
{
display : inline;
list-style-type : none;
}

ul#marineMore li#first
{
padding-right : 5px;
}

ul#marineMore li#second
{
border-left : 1px solid #000;
padding-left : 8px;
}
