caption
{
padding : 10px 0;
text-align : left;
text-transform : uppercase;
font-size : 120%;
}

table, td, td
{
border : 1px solid #666;
border-collapse : collapse;
}

table
{
position : relative; left : 15px;
border : none;
border-bottom : 1px solid #000;
}

th
{
font-size : 90%;
text-transform : uppercase;
text-align : center;
color : #333;
}

td
{
font-size : 90%;
padding : 0 10px;
}
